.card {
    width: 400px;
    height: 300px;
    position: relative;
    background: #f5f5f5;
    color: #252525;
    border-radius: 4px;
    overflow: hidden;
    line-height: 150%;
    box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
    transition: box-shadow .3s ease-in-out;
    
  }
  
  .cardInfo {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    padding:0.5rem;
   
  }
  
  /* Image */
  .cardImg {
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
  }
  
  /* Buttons */
  .socialMedia {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-10em);
    z-index: 3;
  }
  
  .socialMedia li {
    background: #f5f5f5;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
  }
  /* Icons */
  .socialMedia li svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
  }
  
  /* Texts */
  .title {
    font-size: 1.5em;
    font-weight: bold;
    padding-top:1rem;
  /* color:white */
  }
  
  .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
    padding :1rem 0;
  }
  
  
  /* Hovers */
  .card:hover {
    box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.3);
  }

  /* .card:hover .cardInfo{
    z-index: 3;
  } */
  
  .card:hover .cardImg {
    transform: translateY(-10em);
    /* z-index: 0; */
  }
  
  .card:hover .socialMedia li {
    transform: translateY(-5%);
    opacity: 1;
  }
  
  .card:hover .socialMedia li:nth-child(1) {
    transition-delay: 0s;
  }
  
  .card:hover .sociaMedia li:nth-child(2) {
    transition-delay: .1s;
  }
  
  .card:hover .socialMedia li:nth-child(3) {
    transition-delay: .2s;
  }